.form {
  height: 360px;
  width: 100%;
  background-image: url('https://cdn.pixabay.com/photo/2018/08/10/15/45/woman-3597101_1280.jpg');
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.form::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* background semi-transparente */
  content: '';
}

.heroTitle {
  font-family: Gloock, serif;
  font-size: 48px;
  color: #eee;
  position: relative;
  z-index: 1; /* para o texto ficar sobreposto ao background semi-transparente */
}

@media (max-width: 768px) {
  .form {
    height: auto;
    padding: 24px 0;
    background-position: center; /* centralizar a imagem no eixo y */
  }

  .heroTitle {
    font-size: 32px;
  }
}
