.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #555;
  padding: 32px;
  border-radius: 12px;
  margin-top: 40px;
}

.btnPesquisar {
  background-color: #fff;
  border: none;
  height: 40px;
  padding: 0 16px;
  font-size: 18px;
  color: #555;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.campo {
  padding: 8px;
  border: none;
  background-color: #fff;
  color: #555;
  font-size: 18px;
  border-radius: 4px;
  margin-right: 8px;
  flex-grow: 1;
}

